
.b-content{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}
.b-img {
    min-height: 100%;
    width: 100%;   
}
.b-img img{
    width: 100%;
    min-height: 300px;
}